<div class = "container">
    <footer class = "footer">
    <small>
    Copyright &copy <a href="http://udemy.com">The Complete Ruby Developer</a>
    by <a href="http://www/mashrurhossein.com">Mashrur Hossein</a>
    </small>
    <nav>
        <ul>
           <li><%= link_to "About" , about_path %></li> 
         </ul>
 
    </nav>
</footer>
</div>